<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Courier Service, <%= @receiver.name %></h1>
    <p>
      A Parcel is end to you by: <%= @sender.name %>. Use this ID: <%= @parcel.id %> to track it.<br>
    </p>
    <p>
      Visit link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>